/* General */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#cont {
    width: 100%;
    background-color: #054c8a;
}

/* Encabezado */
#cont-nav {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
}

#logo img {
    display: block;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#menu ul li {
    margin: 0 10px;
}

#menu ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    transition: color 0.3s ease;
}

#menu ul li a:hover {
    color: red;
}

/* Botones */
.icon {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.icon img:hover {
    transform: scale(1.1);
    border-color: red;
}

.icon a {
    text-decoration: none;
    color: #024c7e;
    transition: color 0.3s ease;
    margin-top: 5px; /* Espacio entre el botón y el título */
    text-align: center;
    display: block;
}

.icon a:hover {
    color: red;
}

/* Contenedor de íconos */
.ContIcons {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Segunda fila con 8 botones */
.ContIcons .icon:nth-child(n+10) {
    grid-column: span 1;
}

.ContIcons .icon:nth-child(10) {
    grid-column: 2 / span 1;
}

/* Contenedor de botones flotantes */
.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    z-index: 1000;
}

/* Estilos generales para los botones */
.floating-buttons a {
    width: 55.8px;
    height: 55.8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Botón de WhatsApp */
#whatsapp-button {
    background-color: #25D366;
}

/* Botón de Chat */
#chat-button {
    background-color: #093764;
}

/* Efecto hover */
.floating-buttons a:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Estilos para las imágenes dentro de los botones */
.floating-buttons a img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

/* Responsividad */
@media (max-width: 1024px) {
    .ContIcons {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 768px) {
    .ContIcons {
        grid-template-columns: repeat(2, 1fr);
    }

    .floating-buttons {
        flex-direction: column;
        right: 45%;
    }
}
