/* General styles */
body {
	padding: 0;
	margin: 0;
	font-family: Roboto;
	font-weight: 400;
}

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: normal;
}

#cont {
	width: 100%;
	height: 100px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #13314E;
}

#cont-nav {
	width: 1366px;
	height: 100px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

#logo {
	width: 100%;
	padding: 0;
	border: none;
	float: left;
	margin-top: 25px;
}

#lista ul {
	list-style: none;
	display: inline;
	padding: 0px;
	margin: 0px;
}

#lista ul li a {
	text-decoration: none;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	font-size: 13px;
	color: #ffffff;
	transition: color 0.3s ease;
}

/* Change color to red on hover */
#lista ul li a:hover {
	color: red;
}

.slide {
	width: 100%;
	height: 500px;
	margin: auto;
	padding: 0;
}

#cont-tit-bnr {
	padding: 0px;
	margin: 0 auto;
	margin-top: 0px;
	width: 1366px;
	height: 100%;
	background-repeat: no-repeat;
}

#tit-uno {
	font-size: 80px;
	font-weight: 500;
	color:hsl(4, 90%, 40%);;
	margin-top: -250px;
	margin-left: 285px;
}

#subtit {
	font-size: 80px;
	font-weight: 500;
	color: hsl(4, 90%, 40%);;
	margin-top: -70px;
	margin-left: 285px;
}

#content {
	padding: 30px;
	margin-top: 100px;
}

.titulos h1 {
	width: 1366px;
	height: 80px;
	margin: auto;
	text-align: center;
	font-size: 40px;
	color: hsl(0, 0%, 100%);
}

.ContIcons {
	width: 1366px;
	height: auto;
	overflow: auto;
	margin: auto;
	padding: 10px 5px 5px 5px;
}

.icon {
	width: 445px;
	height: 300px;
	padding: 0px;
	margin: 0 5px 2px 5px;
	color: #e2001a;
	text-align: center;
	float: left;
	display: inline-block;
}

.icon a {
	color: #13314E;
	font-size: 15px;
	text-decoration: none;
	transition: color 0.3s ease;
}

/* Change link color to red on hover */
.icon a:hover {
	color: red;
}
